*{
    margin: 0;
    padding:0;
    box-sizing: border-top;
    font-family: sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }}

body{
    background-color: black;
    color: white;}

.header{
    background-color: #9f3647;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top:0;
    z-index: 10;}

.navegacion{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;}

.anclaLogo{
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    font-size: 1.2rem;}

.anclaLogo:hover{
    animation: tilt-n-move-shaking 0.25s infinite;}

.listaNav {
    list-style: none;
    display: flex;
    align-items: center;}

.listaItem{
    margin-right: 20px;}

.linkNav{
    text-decoration: none;
    color:#ffffff;
    font-weight:700;
    font-size: 1.1rem;
    padding: 0.5rem 1 rem;
    transition: transform 0.3s, box-shadow 0.3s;}   
    
.linkNav:hover{
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;}

.linkNavInicioSesion{
    text-decoration: none;
    background-color: #181419;
    font-weight:700;
    font-size: 1.1rem;
    padding: 0.5rem 1 rem;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;}

.linkNavInicioSesion:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)}

.seccionPrincipal{ 
    color:white;
    background:linear-gradient(to right top, #0000008a, #0000008a), url(../assets/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}

.tituloPrincipal{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;}

.subtituloPrincipal{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;}

.btnRegistro{
    background-color:#9f3647;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;}

.btnRegistro:hover{
    background-color: #9f3647;
    transform: scale(0.90);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);}

.buscadorPeliculas{
    background-color: #181419;
    color:rgb(255, 255, 255);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.tituloSeccion{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;}

.buscadorPelis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;}

.inputBuscador{
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;}

.btnBuscador{
    background-color:#9f3647;
    display: inline-block;
    color:#ffffff;
    height: 50px;
    margin: 20px 10px;
    padding:0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;}
    
.btnBuscador:hover{
    background-color: #9f3647;
    box-shadow: 0 0 10px rgba(255, 255, 255);
    transform: scale(0.90);}
    
.pelisTendencia{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    .tituloSeccion{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;}
    .pelis{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:60px;
        a{
            text-decoration: none;
            color: #ffffff;
            .pelicula{
                width:200px;
                height: 300px;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                transition: all 0.5s ease;}
            .imgTendencia{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;}
            .tituloPeli{
                z-index: 2;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                max-width: 20rem;
                width: 100%;
                transform: translateY(-50%) translateX(-50%); 
                h4 {
                    font-size: 1.6rem;
                    font-weight: bold;
                    opacity: 0;
                    margin-bottom: 0.5rem;
                    letter-spacing: 0.1rem;
                    transition: opacity 0.5s ease-in-out;}     

            } 
            &:hover{
                box-shadow: 0 0 30px #9f3648cd;
                transform: scale(0.9);}
            
            &:hover .tituloPeli{
                width: 100%;
                height: 100%;
                backdrop-filter: blur(20px);
                display: flex;
                justify-content: center;
                align-items: center;} 

            &:hover h4 {
                width: 100%;
                padding: 0.5rem;
                opacity: 1;}      
            }
        }           
} 

.btn{
    border: 1px solid white;
    box-sizing: content-box;
    margin-top:50px;
    margin-left:20px;
    background-color:#9f3647;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom:60px;
    transition: transform 0.3s, box-shadow 0.3s;}

.btn:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);}

.pelisAclamadas{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom:60px;}

.aclamadas{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;}
   
.peliculaItem{
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}    

.imgAclamada{
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;}

